<a href="https://colab.research.google.com/github/lucylao/data_analytics/blob/main/Python_Basics_Exercise1_LaoLucy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  **PYTHON EXERCISE FOR PRACTICE**

**1: Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum**

number1 = 20

number2 = 30

In [ ]:
number1 = 20
number2 = 30
product = number1 * number2
sum = number1 + number2

if product > 1000:
  print(sum)
else: 
  print(product)

600

**2: Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number.**

In [ ]:
for num in range(1,11):
  print(num)
  
sum = 0
for number in range(1,11):
  sum += number
  print(sum)

1
2
3
4
5
6
7
8
9
10
1
3
6
10
15
21
28
36
45
55

**3: In the string "pynative", display only those characters which are present at an even index number.**

In [ ]:
string = 'pynative'

for index in range(len(string)):
 if index % 2 == 0:
    print(string[index])

# another method using string slicing
newString = string[::2]
print(newString)

p
n
t
v
pntv

**4: In the string "pynative" remove characters from zero up to 5 and return a new string**

In [ ]:
string = 'pynative'
newString = string[6:]

print(newString)

ve

**5: Reverse numbers 121 and 125 and return true if it is the same as the original number.**

In [29]:
def checkNum(number):
  newStr = str(number)
  newNumber = newStr[::-1]
  if number == int(newNumber):
    print(True)
  else:
    print(newNumber + " is not the same as " + newStr)

checkNum(121)
checkNum(125)

True
521 is not the same as 125

**6: Given two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list.**

1.  List 1  [10, 20, 23, 11, 17]
2.  List 2  [13, 43, 24, 36, 12]

In [46]:
List_1 = [10, 20, 23, 11, 17]
List_2 = [13, 43, 24, 36, 12]
List_3 = []

for elements in List_1:
  if elements % 2 != 0:
    List_3.append(elements)

for elements_2 in List_2:
  if elements_2 % 2 == 0:
    List_3.append(elements_2)

print(List_3)

[23, 11, 17, 24, 36, 12]

**7: Write a code to extract each digit from the integer 7536  in the reverse order**

In [30]:
def reverseNum(number):
  newStr = str(number)
  reverse = newStr[::-1]
  print(reverse)

reverseNum(7536)

6357

**8. What is the output of the following code?**

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: ignored

1.   The program executed with errors
1.   [‘Jon’, ‘Kelly’, ‘Scott’, ‘Jessa’]
2.   [‘Jon’, ‘Kelly’, ‘Jessa’, ‘Scott’]
2.   [‘Jon’, ‘Scott’, ‘Kelly’, ‘Jessa’]

In [ ]:
# 1. The program executed with errors because list.append() method takes only one argument and the example uses two arguments.

# correct code

sampleList = ['Jon', 'Kelly', 'Jessa']
sampleList.append('Scott')
print(sampleList)

['Jon', 'Kelly', 'Jessa', 'Scott']

***9. What is the output of the following code?***

In [ ]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125


1. 10
   15
2. 25 
   125
1.Error: invalid syntax

In [ ]:
# 2. 25 125
# The exponent operator (**) in Python calculates:
#  5 ** 2 = 5 x 5 = 25 and 
#  5 ** 3 = 5 x 5 x 5 = 125

**10. Display the following data using string.format() method and as a message**
* totalMoney = 1000
* quantity =3
* price = 450

In [49]:
message = "There is {totalMoney} dollars in pennies!"
print(message.format(totalMoney = 1000))

message_2 = "There are {quantity} apples."
print(message_2.format(quantity = 3))

message_3 = "It will cost {price} before taxes."
print(message_3.format(price = 450))

There is 1000 dollars in pennies!
There are 3 apples.
It will cost 450 before taxes.

**11: Print First 10 natural numbers using while loop**

while

In [57]:
count = 1
while (count < 11):
  print(count)
  count += 1

1
2
3
4
5
6
7
8
9
10

**12.  Reverse the following list using for loop**

list1 = [10, 20, 30, 40, 50]

In [62]:
list1 = [10, 20, 30, 40, 50]

for elements in reversed(list1):
  print(elements)

50
40
30
20
10

**13: Display a message “Done” after successful execution of for loop**

In [64]:
list1 = [10, 20, 30, 40, 50]

for elements in reversed(list1):
  print(elements)
print("Done")

50
40
30
20
10
Done

**14. Use a loop to display elements from the given list (my_list) which are present at even positions**
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for elements in range(len(my_list)):
  if elements % 2 == 0:
    print(my_list[elements])

10
30
50
70
90

**15. Create a list of your favourite 5 fruits. Then**

Add 2 new fruits to the list
What's the length of your list now?
Remove any one fruit from the list
What's the new length of the list now?
Could you sort the list?

In [ ]:
fruits = ['apples', 'kiwis', 'bananas', 'strawberries', 'oranges']
length = str(len(fruits))

print("My original list has " + length + " fruits.\n")

fruits.insert(0, 'pears')
fruits.append('pineapple')
length = str(len(fruits))

print("The length of my list is now " + length + " after adding 2 new fruits.\n")

fruits.remove('pears')
length = str(len(fruits))

print("The length of my list is now " + length + " after removing 1 fruit.\n")

# Due to changes in the original list, the sort() function will not work.
print(fruits.sort())

# To sort the new list temporarily, we can use the sorted() function.
print(sorted(fruits))

My original list has 5 fruits.

The length of my list is now 7 after adding 2 new fruits.

The length of my list is now 6 after removing 1 fruit.

None
['apples', 'bananas', 'kiwis', 'oranges', 'pineapple', 'strawberries']