Write a function that takes two arguments.
Call your function 3 times.
Modify the function to take a default parameter.

In [12]:
# Assignment for Functions

def name(state, capital):
  print("The capital of " + state + " is " + capital)

name("Alaska", "Juneau")
name("New York", "Albany")
name("California", "Sacramento")

The capital of Alaska is Juneau
The capital of New York is Albany
The capital of California is Sacramento

In [14]:
def name(state):
  print(state.title() + " is one of the fifty states in the US")

name("New Mexico")

New Mexico is one of the fifty states in the US

Classwork for Functions Below:

In [3]:
# defining a function

def greetings(name):
  print("Hello, " + name + " !")

greetings('Haley')

Hello, Haley !

In [11]:
def greeting_Age(a):
  print("Hello, I am " + a + " years old!")

greeting_Age('55')

Hello, I am 55 years old!

In [9]:
# two arguments in a function

def greeting_2(firstname, lastname, age):
  print("Hello, " + firstname.title() + " " + lastname.title())
  print("I am " + age + " years old.")

greeting('georgia', 'smith', '63')

Hello, Georgia Smith
I am 63 years old.

In [10]:
# calling a previously defined function

greeting_2('paula', 'min', '78')
greeting_2('henri', 'smile', '57')

Hello, Paula Min
I am 78 years old.
Hello, Henri Smile
I am 57 years old.