<a href="https://colab.research.google.com/github/lucylao/data_analytics/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
CUNYCampusList = ['Baruch', 'Hunter', 'Laguardia', 1, 34, 3, 'Brooklyn', 'City Tech']
message = "The CUNY"
print(CUNYCampusList)
print(CUNYCampusList[0])
print(CUNYCampusList[3])
print(CUNYCampusList[-3])
print(CUNYCampusList.pop(1))
print(CUNYCampusList)

['Baruch', 'Hunter', 'Laguardia', 1, 34, 3, 'Brooklyn', 'City Tech']
Baruch
1
3
Hunter
['Baruch', 'Laguardia', 1, 34, 3, 'Brooklyn', 'City Tech']

In [7]:
def newfunction ():
  print("Hello World")
  newfunction()

In [21]:
friendList = ['Amy', 'Dana', 'Mary']

print(friendList)
print(friendList[0])
print(friendList[1])
print(friendList[2])
print(friendList[-1])
print(friendList[-2])
print(friendList[-3])

AmyMessage = "Long time no see, " + friendList[0]

print(message)

['Amy', 'Dana', 'Mary']
Amy
Dana
Mary
Mary
Dana
Amy
Long time no see, Amy

In [31]:
friendList = ['Amy', 'Dana', 'Mary']
friendList[1] = "Sue"
print(friendList)

newFriends = ['Chloe', 'Madison']
friendList.append('Chloe')

print(friendList)

['Amy', 'Sue', 'Mary']
['Amy', 'Sue', 'Mary', 'Chloe']

In [24]:
CUNYCampus = ['Baruch', 'Hunter', 'Queen', 'City']
CUNYCampus.append('LaGuardia')
CUNYCampus.insert(2, 'Brooklyn')
print(CUNYCampus)

['Baruch', 'Hunter', 'Brooklyn', 'Queen', 'City', 'LaGuardia']

In [32]:
friendList = ['Amy', 'Dana', 'Mary']
print(friendList)
del friendList[1]
print(friendList)

['Amy', 'Dana', 'Mary']
['Amy', 'Mary']

In [33]:
friendList = ['Amy', 'Dana', 'Mary']
print(friendList)
friendList.remove('Mary')
print(friendList)

['Amy', 'Dana', 'Mary']
['Amy', 'Dana']

In [36]:
foods = ['veggie burger', 'fries', 'pepsi']
print(foods)
foods.append('chicken nuggets')
print(foods)
foods.insert(1, 'salad')
print(foods)
foods.remove('fries')
print(foods)

['veggie burger', 'fries', 'pepsi']
['veggie burger', 'fries', 'pepsi', 'chicken nuggets']
['veggie burger', 'salad', 'fries', 'pepsi', 'chicken nuggets']
['veggie burger', 'salad', 'pepsi', 'chicken nuggets']

In [39]:
CUNYCampusList = ['Baruch', 'Hunter', 'Queens', 'City', 'LaGuardia']
print(CUNYCampusList)
CUNYCampusList.sort()
print(CUNYCampusList)
CUNYCampusList.sort(reverse = True)
print(CUNYCampusList)

['Baruch', 'Hunter', 'Queens', 'City', 'LaGuardia']
['Baruch', 'City', 'Hunter', 'LaGuardia', 'Queens']
['Queens', 'LaGuardia', 'Hunter', 'City', 'Baruch']

In [41]:
foods = ['veggie burger', 'fries', 'pepsi']
print(foods)
foods.sort()
print(foods)
foods.sort(reverse = True)
print(foods)
len(foods)

['veggie burger', 'fries', 'pepsi']
['fries', 'pepsi', 'veggie burger']
['veggie burger', 'pepsi', 'fries']

3

In [45]:
travel = ['Iceland', 'Egypt', 'Florida', 'Utah', 'Mars']
print(travel)
travel.sort()
print(travel)
travel.sort(reverse = True)
print(travel)
len(travel)

['Iceland', 'Egypt', 'Florida', 'Utah', 'Mars']
['Egypt', 'Florida', 'Iceland', 'Mars', 'Utah']
['Utah', 'Mars', 'Iceland', 'Florida', 'Egypt']

5