<a href="https://colab.research.google.com/github/lucylao/data_analytics/blob/main/Unit2_Loop_Assignment_3_LaoLucy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
list = ['chocolate', 'seafood', 'Earth', 'nineteen', 'star']

## 2.	Print out those variables by using a for loop

In [ ]:
list = ['chocolate', 'seafood', 'Earth', 'nineteen', 'star']

for item in list:
  print(item)

chocolate
seafood
Earth
nineteen
star

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
list = ['chocolate', 'seafood', 'Earth', 'nineteen', 'star']
for item in list:
  print("This is an item in my list: " + item)

This is an item in my list: chocolate
This is an item in my list: seafood
This is an item in my list: Earth
This is an item in my list: nineteen
This is an item in my list: star

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for even in range (1,21):
  if (even % 2 == 0):
    print(even)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
list = ['chocolate', 'seafood', 'Earth', 'nineteen', 'star']
print(list)
list.sort()
print(list)

['chocolate', 'seafood', 'Earth', 'nineteen', 'star']
['Earth', 'chocolate', 'nineteen', 'seafood', 'star']

## 6.	Print out the first three elements of your list.

In [117]:
list = ['chocolate', 'seafood', 'Earth', 'nineteen', 'star']

# first way

for three in list[:3]:
  print(three)
  

# another way

for firstThree in range(3):
    print(list[firstThree])

chocolate
seafood
Earth
chocolate
seafood
Earth

## 7.	Create a loop to print the last 2 elements of your list.

In [110]:
list = ['chocolate', 'seafood', 'Earth', 'nineteen', 'star']

# first method

for two in list[3:]:
  print(two)

# from left to right

for lastTwo in range(3,5):
  print(list[lastTwo])

# from right to left

for last in range(1,3):
  print(list[-last])

nineteen
star
nineteen
star
star
nineteen